node-red/flows.json
[
    {
        "id": "6766c019f9ae92fb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "09b8bc23d7bb8d60",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "230400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "1000"
    },
    {
        "id": "b19a411f3985c40e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "28d214a9fa178b04",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0187d50eb9522ce0",
        "type": "ui_group",
        "name": "Default",
        "tab": "28d214a9fa178b04",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d95dcac8c35c1820",
        "type": "debug",
        "z": "6766c019f9ae92fb",
        "name": "UART_OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 160,
        "wires": []
    },
    {
        "id": "a6d4fa571099a3c5",
        "type": "function",
        "z": "6766c019f9ae92fb",
        "name": "function 1",
        "func": "msg.payload /= 10\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 260,
        "wires": [
            [
                "caceedcc56afffea"
            ]
        ]
    },
    {
        "id": "f256f9b077666f26",
        "type": "switch",
        "z": "6766c019f9ae92fb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ECHO",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "U.TM",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "995ca156c560019b"
            ],
            [
                "42bbe52e606bcd5a"
            ],
            [
                "a6d4fa571099a3c5"
            ]
        ]
    },
    {
        "id": "995ca156c560019b",
        "type": "function",
        "z": "6766c019f9ae92fb",
        "name": "ACK",
        "func": "msg.payload = \"ACK\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 160,
        "wires": [
            [
                "d95dcac8c35c1820",
                "1ac36e576c446e56"
            ]
        ]
    },
    {
        "id": "7c6af99f1d3dcb6f",
        "type": "inject",
        "z": "6766c019f9ae92fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ECHO",
        "payloadType": "str",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "f256f9b077666f26"
            ]
        ]
    },
    {
        "id": "59a7f13a13e303ff",
        "type": "debug",
        "z": "6766c019f9ae92fb",
        "name": "UART_IN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 40,
        "wires": []
    },
    {
        "id": "406cfb41487498df",
        "type": "inject",
        "z": "6766c019f9ae92fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "U.TM",
        "payloadType": "str",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "f256f9b077666f26"
            ]
        ]
    },
    {
        "id": "8134fccfb4e07ac5",
        "type": "inject",
        "z": "6766c019f9ae92fb",
        "name": "Enable",
        "props": [
            {
                "p": "payload.enabled",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "d3ebf727cf213044"
            ]
        ]
    },
    {
        "id": "d203e0e9cb08b366",
        "type": "inject",
        "z": "6766c019f9ae92fb",
        "name": "Disable",
        "props": [
            {
                "p": "payload.enabled",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "d3ebf727cf213044"
            ]
        ]
    },
    {
        "id": "42bbe52e606bcd5a",
        "type": "function",
        "z": "6766c019f9ae92fb",
        "name": "Timestamp",
        "func": "msg.payload = \"U.TM:\" + Date.now();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 200,
        "wires": [
            [
                "d95dcac8c35c1820",
                "1ac36e576c446e56"
            ]
        ]
    },
    {
        "id": "caceedcc56afffea",
        "type": "ui_gauge",
        "z": "6766c019f9ae92fb",
        "name": "",
        "group": "0187d50eb9522ce0",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 320,
        "wires": []
    },
    {
        "id": "9d1e061c772390cb",
        "type": "inject",
        "z": "6766c019f9ae92fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "300",
        "payloadType": "num",
        "x": 870,
        "y": 340,
        "wires": [
            [
                "caceedcc56afffea"
            ]
        ]
    },
    {
        "id": "6e9bd346f4819ed8",
        "type": "serial in",
        "z": "6766c019f9ae92fb",
        "name": "",
        "serial": "09b8bc23d7bb8d60",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "2151f2b0759ee702"
            ]
        ]
    },
    {
        "id": "d3ebf727cf213044",
        "type": "serial control",
        "z": "6766c019f9ae92fb",
        "name": "",
        "serial": "09b8bc23d7bb8d60",
        "x": 400,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1ac36e576c446e56",
        "type": "serial out",
        "z": "6766c019f9ae92fb",
        "name": "",
        "serial": "09b8bc23d7bb8d60",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "2151f2b0759ee702",
        "type": "function",
        "z": "6766c019f9ae92fb",
        "name": "Trim data",
        "func": "msg.payload = msg.payload.trim();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 40,
        "wires": [
            [
                "f256f9b077666f26",
                "59a7f13a13e303ff"
            ]
        ]
    }
]