node-red/flows.json
[
    {
        "id": "6766c019f9ae92fb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05a693f34de3daf3",
        "type": "group",
        "z": "6766c019f9ae92fb",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f609a9672d703608",
            "7dac242cd011c60e",
            "9ced80d16c9798fa",
            "46edfb39a45d0c4d",
            "492215d2a13b0b7f"
        ],
        "x": 634,
        "y": 259,
        "w": 172,
        "h": 262
    },
    {
        "id": "e8a2d90067a92755",
        "type": "group",
        "z": "6766c019f9ae92fb",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "eece08573c38b673",
            "ad869f8dcb0b780d",
            "a913bfd58d79044a"
        ],
        "x": 634,
        "y": 539,
        "w": 172,
        "h": 162
    },
    {
        "id": "09b8bc23d7bb8d60",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "230400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "1000"
    },
    {
        "id": "b19a411f3985c40e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "28d214a9fa178b04",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0187d50eb9522ce0",
        "type": "ui_group",
        "name": "Default",
        "tab": "28d214a9fa178b04",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5edb2880a68b26b8",
        "type": "ui_group",
        "name": "Screen options",
        "tab": "28d214a9fa178b04",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c6b15859062a3ef",
        "type": "ui_group",
        "name": "Motor section",
        "tab": "28d214a9fa178b04",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d95dcac8c35c1820",
        "type": "debug",
        "z": "6766c019f9ae92fb",
        "name": "UART_OUT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 180,
        "wires": []
    },
    {
        "id": "f256f9b077666f26",
        "type": "switch",
        "z": "6766c019f9ae92fb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ECHO",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "U.TM",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "995ca156c560019b"
            ],
            [
                "42bbe52e606bcd5a"
            ],
            []
        ]
    },
    {
        "id": "995ca156c560019b",
        "type": "function",
        "z": "6766c019f9ae92fb",
        "name": "ACK",
        "func": "msg.payload = \"ACK\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 160,
        "wires": [
            [
                "d95dcac8c35c1820",
                "1ac36e576c446e56"
            ]
        ]
    },
    {
        "id": "7c6af99f1d3dcb6f",
        "type": "inject",
        "z": "6766c019f9ae92fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ECHO",
        "payloadType": "str",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "f256f9b077666f26"
            ]
        ]
    },
    {
        "id": "59a7f13a13e303ff",
        "type": "debug",
        "z": "6766c019f9ae92fb",
        "name": "UART_IN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 40,
        "wires": []
    },
    {
        "id": "406cfb41487498df",
        "type": "inject",
        "z": "6766c019f9ae92fb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "U.TM",
        "payloadType": "str",
        "x": 450,
        "y": 160,
        "wires": [
            [
                "f256f9b077666f26"
            ]
        ]
    },
    {
        "id": "8134fccfb4e07ac5",
        "type": "inject",
        "z": "6766c019f9ae92fb",
        "name": "Enable",
        "props": [
            {
                "p": "payload.enabled",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "d3ebf727cf213044"
            ]
        ]
    },
    {
        "id": "d203e0e9cb08b366",
        "type": "inject",
        "z": "6766c019f9ae92fb",
        "name": "Disable",
        "props": [
            {
                "p": "payload.enabled",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "d3ebf727cf213044"
            ]
        ]
    },
    {
        "id": "42bbe52e606bcd5a",
        "type": "function",
        "z": "6766c019f9ae92fb",
        "name": "Timestamp",
        "func": "msg.payload = \"U.TM:\" + Date.now();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 200,
        "wires": [
            [
                "d95dcac8c35c1820",
                "1ac36e576c446e56"
            ]
        ]
    },
    {
        "id": "6e9bd346f4819ed8",
        "type": "serial in",
        "z": "6766c019f9ae92fb",
        "name": "",
        "serial": "09b8bc23d7bb8d60",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "2151f2b0759ee702"
            ]
        ]
    },
    {
        "id": "d3ebf727cf213044",
        "type": "serial control",
        "z": "6766c019f9ae92fb",
        "name": "",
        "serial": "09b8bc23d7bb8d60",
        "x": 400,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1ac36e576c446e56",
        "type": "serial out",
        "z": "6766c019f9ae92fb",
        "name": "",
        "serial": "09b8bc23d7bb8d60",
        "x": 1460,
        "y": 360,
        "wires": []
    },
    {
        "id": "2151f2b0759ee702",
        "type": "function",
        "z": "6766c019f9ae92fb",
        "name": "Trim data",
        "func": "msg.payload = msg.payload.trim();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 40,
        "wires": [
            [
                "f256f9b077666f26",
                "59a7f13a13e303ff"
            ]
        ]
    },
    {
        "id": "f609a9672d703608",
        "type": "ui_button",
        "z": "6766c019f9ae92fb",
        "g": "05a693f34de3daf3",
        "name": "",
        "group": "5edb2880a68b26b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Yefri",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "yefri",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 300,
        "wires": [
            [
                "1ac36e576c446e56",
                "d95dcac8c35c1820"
            ]
        ]
    },
    {
        "id": "7dac242cd011c60e",
        "type": "ui_button",
        "z": "6766c019f9ae92fb",
        "g": "05a693f34de3daf3",
        "name": "",
        "group": "5edb2880a68b26b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Chris",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "chris",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 340,
        "wires": [
            [
                "1ac36e576c446e56"
            ]
        ]
    },
    {
        "id": "9ced80d16c9798fa",
        "type": "ui_button",
        "z": "6766c019f9ae92fb",
        "g": "05a693f34de3daf3",
        "name": "",
        "group": "5edb2880a68b26b8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ruben",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ruben",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "1ac36e576c446e56"
            ]
        ]
    },
    {
        "id": "46edfb39a45d0c4d",
        "type": "ui_button",
        "z": "6766c019f9ae92fb",
        "g": "05a693f34de3daf3",
        "name": "",
        "group": "5edb2880a68b26b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Temp",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "temp",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 440,
        "wires": [
            [
                "1ac36e576c446e56"
            ]
        ]
    },
    {
        "id": "492215d2a13b0b7f",
        "type": "ui_button",
        "z": "6766c019f9ae92fb",
        "g": "05a693f34de3daf3",
        "name": "",
        "group": "5edb2880a68b26b8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Datetime",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "datetime",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 480,
        "wires": [
            [
                "1ac36e576c446e56"
            ]
        ]
    },
    {
        "id": "eece08573c38b673",
        "type": "ui_button",
        "z": "6766c019f9ae92fb",
        "g": "e8a2d90067a92755",
        "name": "",
        "group": "9c6b15859062a3ef",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Sync",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "sync",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 580,
        "wires": [
            [
                "1ac36e576c446e56"
            ]
        ]
    },
    {
        "id": "ad869f8dcb0b780d",
        "type": "ui_button",
        "z": "6766c019f9ae92fb",
        "g": "e8a2d90067a92755",
        "name": "",
        "group": "9c6b15859062a3ef",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Calibrate",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "calibrate",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 620,
        "wires": [
            [
                "1ac36e576c446e56"
            ]
        ]
    },
    {
        "id": "a913bfd58d79044a",
        "type": "ui_dropdown",
        "z": "6766c019f9ae92fb",
        "g": "e8a2d90067a92755",
        "name": "",
        "label": "Ref time",
        "tooltip": "",
        "place": "Select option",
        "group": "9c6b15859062a3ef",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Yefri birthdate",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Ruben birthdate",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Chris birthdate",
                "value": "3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 720,
        "y": 660,
        "wires": [
            [
                "1ac36e576c446e56"
            ]
        ]
    }
]